.menu {
  display: flex;
  padding: 10px;
  background-color: grey;
}

.navbar {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.navbar__wrapper {
  display: flex;
  list-style-type: none;
}

.navbar__item,
.logo {
  margin-right: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.navbar__item:hover,
.active {
  color: rgb(211 211 211);
}

.logout-block {
  display: flex;
  gap: 10px;
}

.logout-button {
  background-color: var(--red-0);
  padding: 2px 10px;
  border-radius: 5px;
  border: 1px solid var(--red-0);
  color: white;
  cursor: pointer;
}
